# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run the demo for this project.
# ------------------------------------------------------------------------------

BING_COOKIE=1TeWbhzF0EpL9wUFMlNxadvm_kcETdwIMszfmn9yzfVlGjR-5_7nv86SGFwfItc_IRnGy6doT2z-f09P744G7Gl6Ikj3ht36HfOZXVf_tEGuZnihBpZzjUmMh0VcMY2MTQ-K1SHrnEQCjk95JLYvyK1NeNE7cAQjFy_sTcG9R5X1yIr3CDDyMFPaZrMBB7qlZ2vNJ_-BL9FiSm3uw7thgUNPPUepqH4meM4TiLVZWslo
BING_HOST=bingchat.anysign.xyz